body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titulo_size {
  font-family: Roboto, sans-serif;
  font-size: 2em;
}

.parrafo_bold {
  font-weight: bold;
}
.div_line_height {
  line-height: 20px;
}
