body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titulo_size {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.parrafo_bold {
  font-weight: bold;
  color: #212529;
}
.div_line_height {
  line-height: 14px;
}
.div_mt {
  margin-top: 80px;
}
.card_main {
  height: 425px;
  width: 270;
}

.card_name {
  font-size: 15px;
}
.card_precio {
  font-size: 25px;
  font-weight: 700;
}
